<header id="main-header">
    <h1 class="header-logo">Alexander Agruso</h1>
    <nav class="header-nav">
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
