<header>
    <h1 class="header-logo">Alexander Agruso</h1>
    <nav class="header-nav">
        <div class="header-link"><a href="">Home</a></div>
        <div class="header-link"><a href="">About Me</a></div>
        <div class="header-link"><a href="">Portfolio</a></div>
        <div class="header-link"><a href="">Contact</a></div>
    </nav>
</header>
