<div class="title">
    <h1>Alexander Agruso</h1>
    <span>Creating Robust Software</span>
</div>

<!-- navbar -->
<%- include("partials/navbar.ejs") %>
<div class="body-text">
    <p>
        In minus debitis aliquid voluptas temporibus quis blanditiis, eligendi
        laboriosam sint dolor, sit esse facere maxime rerum neque quae
        consequatur aliquam libero? Odit nam doloremque obcaecati culpa magnam
        incidunt, expedita adipisci accusantium qui sequi animi nisi dolorum,
        itaque veritatis iusto in, fuga deserunt? Alias beatae suscipit nostrum
        et? Illum ab similique tempora totam, quibusdam illo magni nisi
        necessitatibus fuga, laboriosam dignissimos tenetur beatae dolore quos
        maiores dolores soluta maxime! Tenetur delectus praesentium aut cum enim
        veniam inventore magni officia, ad possimus soluta dignissimos molestiae
        sit minus rem, illo aspernatur reprehenderit omnis numquam nesciunt
        culpa expedita porro facere? Placeat, reprehenderit culpa. Amet, minima.
        Maiores quos exercitationem provident aliquam ratione quo, unde
        quibusdam. Quasi, tempore culpa id ipsum ad repellendus nam aspernatur
        ullam provident veniam eum quisquam autem totam facilis illum inventore,
        pariatur ducimus iure fuga in laborum nihil. Distinctio facere non at,
        assumenda veritatis possimus nostrum quisquam quod corrupti harum
        voluptatibus expedita corporis reiciendis fugit repellat incidunt
        accusantium. Ducimus inventore tenetur fuga repudiandae accusamus nihil
        quibusdam repellat unde quasi, exercitationem magni iusto debitis odit
        sunt necessitatibus aspernatur magnam non enim quisquam et minima.
        Repudiandae excepturi laboriosam inventore corporis recusandae? Beatae
        assumenda qui doloremque corporis quas eaque animi dolores quasi
        officia? Tenetur alias nostrum placeat deserunt perspiciatis consequatur
        quia vero quam quibusdam, temporibus dolorum sit aperiam ullam. Culpa
        cumque sed voluptas, veritatis dolor ex numquam mollitia possimus rem
        beatae laborum facilis, rerum ea totam quam impedit inventore dicta
        ullam? Eos fuga, minima, quibusdam ut quis, eligendi illo deleniti
        aperiam aliquid temporibus asperiores.
    </p>
</div>
