<nav id="main-navbar">
    <a>
        <span>Portfolio</span>
        <div class="arrow">
            <div></div>
            <div></div>
        </div>
    </a>
    <a>
        <span>Cool Stuff</span>
        <div class="arrow">
            <div></div>
            <div></div>
        </div>
    </a>
    <a>
        <span>Contact</span>
        <div class="arrow">
            <div></div>
            <div></div>
        </div>
    </a>
</nav>
