<div class="title">
    <h1>Alexander Agruso</h1>
    <span>Creating Robust Software</span>
</div>
<div class="body-text">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem atque
        laudantium omnis vitae quasi, nulla cupiditate, autem officiis magnam,
        eum alias possimus voluptate voluptatem ipsam qui ab officia
        perspiciatis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem atque
        laudantium omnis vitae quasi, nulla cupiditate, autem officiis magnam,
        eum alias possimus voluptate voluptatem ipsam qui ab officia
        perspiciatis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem atque
        laudantium omnis vitae quasi, nulla cupiditate, autem officiis magnam,
        eum alias possimus voluptate voluptatem ipsam qui ab officia
        perspiciatis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem atque
        laudantium omnis vitae quasi, nulla cupiditate, autem officiis magnam,
        eum alias possimus voluptate voluptatem ipsam qui ab officia
        perspiciatis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem atque
        laudantium omnis vitae quasi, nulla cupiditate, autem officiis magnam,
        eum alias possimus voluptate voluptatem ipsam qui ab officia
        perspiciatis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem atque
        laudantium omnis vitae quasi, nulla cupiditate, autem officiis magnam,
        eum alias possimus voluptate voluptatem ipsam qui ab officia
        perspiciatis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem atque
        laudantium omnis vitae quasi, nulla cupiditate, autem officiis magnam,
        eum alias possimus voluptate voluptatem ipsam qui ab officia
        perspiciatis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rem atque
        laudantium omnis vitae quasi, nulla cupiditate, autem officiis magnam,
        eum alias possimus voluptate voluptatem ipsam qui ab officia
        perspiciatis.
    </p>
</div>
