<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alexander Agruso</title>
        <link rel="stylesheet" href="styles/style.css" />
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <main>
            <h1 class="main-header">Hello, World!</h1>
            <p class="main-paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto numquam ex odit, id, saepe rerum
                asperiores eligendi, earum non doloremque repudiandae ea omnis provident magni! Totam nemo autem quas
                mollitia!
            </p>
            <div class="cool-effect-test"></div>
            <p class="main-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ex quasi, dignissimos cum architecto
                quaerat pariatur porro molestiae eum culpa esse illo? Est pariatur, fuga dolore quibusdam nesciunt
                adipisci fugit vero vitae facere porro architecto maiores eum commodi corrupti exercitationem
                repudiandae odio distinctio fugiat recusandae eaque illum voluptas tempore nulla et? Inventore ut
                adipisci rerum id facere ad, incidunt repudiandae aliquam repellat quis aliquid omnis animi ex odio
                dolor cum. Odio vero quas error enim ducimus nihil, consequatur, perferendis dolorem doloribus
                cupiditate voluptatibus praesentium nam provident? Voluptate quas quod dignissimos, enim, veniam, quam
                possimus beatae minus magni unde ipsum ullam.
            </p>
            <p class="main-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ex quasi, dignissimos cum architecto
                quaerat pariatur porro molestiae eum culpa esse illo? Est pariatur, fuga dolore quibusdam nesciunt
                adipisci fugit vero vitae facere porro architecto maiores eum commodi corrupti exercitationem
                repudiandae odio distinctio fugiat recusandae eaque illum voluptas tempore nulla et? Inventore ut
                adipisci rerum id facere ad, incidunt repudiandae aliquam repellat quis aliquid omnis animi ex odio
                dolor cum. Odio vero quas error enim ducimus nihil, consequatur, perferendis dolorem doloribus
                cupiditate voluptatibus praesentium nam provident? Voluptate quas quod dignissimos, enim, veniam, quam
                possimus beatae minus magni unde ipsum ullam.
            </p>
            <p class="main-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ex quasi, dignissimos cum architecto
                quaerat pariatur porro molestiae eum culpa esse illo? Est pariatur, fuga dolore quibusdam nesciunt
                adipisci fugit vero vitae facere porro architecto maiores eum commodi corrupti exercitationem
                repudiandae odio distinctio fugiat recusandae eaque illum voluptas tempore nulla et? Inventore ut
                adipisci rerum id facere ad, incidunt repudiandae aliquam repellat quis aliquid omnis animi ex odio
                dolor cum. Odio vero quas error enim ducimus nihil, consequatur, perferendis dolorem doloribus
                cupiditate voluptatibus praesentium nam provident? Voluptate quas quod dignissimos, enim, veniam, quam
                possimus beatae minus magni unde ipsum ullam.
            </p>
        </main>
        <%- include("partials/footer.ejs") %>
    </body>
</html>
