@keyframes navbar {
    100% {
        opacity: 1;
    }
}

@keyframes title {
    0% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes subtitle {
    0% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes backgroundReveal {
    100% {
        opacity: 1;
    }
}

@keyframes backgroundRotate {
    100% {
        transform: rotateZ(360deg);
    }
}
