$padding-base: 0.5rem;
$margin-base: 0.5rem;
$font-size-base: 0.25rem;

@for $i from 1 through 12 {
    .padding-#{$i} {
        padding: $i * $padding-base;
    }
}

@for $i from 1 through 12 {
    .margin-#{$i} {
        margin: $i * $margin-base;
    }
}
