$primary: (
    hue: 210,
    saturation: 43%,
);

$primary-accent: (
    hue: 227,
    saturation: 100%,
);

$secondary: (
    hue: 11,
    saturation: 75%,
);

$secondary-accent: (
    hue: 27,
    saturation: 98%,
);

$white: hsl(200, 20%, 80%);
$black: hsl(200, 20%, 20%);

@function get($color, $lightness) {
    @return hsl(map-get($color, hue), map-get($color, saturation), $lightness);
}
