$p: hsl(230, 40%, 14%);
$p-dark: hsl(244, 41%, 8%);
$p-light: hsl(237, 24%, 36%);

$a: hsl(355, 88%, 65%);
$a-dark: hsl(2, 82%, 76%);
$a-light: hsl(1, 81%, 55%);

$white: hsl(250, 10%, 90%);
$black: hsl(250, 90%, 5%);
