@charset "utf-8";

// css reset and typography imports
@use "./base/__base-h" as *;

@use "./utils/_utils" as *;

@use "./components/_components";
@use "./layouts/_layouts";

@use "./animations/_animations";

body {
    background-color: $color-p-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
