@use "../base/_base-h" as *;
@use "../utils/_utils" as *;

#main-navbar {
    display: flex;
    justify-content: right;
    background-color: $color-a;

    .dropdown {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1.5rem;
        transition: 250ms;

        &:hover {
            cursor: pointer;
            background-color: $color-p-dark;

            span {
                color: $color-white;
            }

            .arrow {
                border-top-color: $color-white;
            }
        }

        span {
            color: $color-p-dark;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
            font-size: 1.5rem;
            transition: 250ms;
        }

        .arrow {
            width: 1rem;
            border: 0.5rem solid transparent;
            border-bottom-width: 0;
            border-top-color: $color-p-dark;
            transition: 250ms;
        }

        &.active {
            .arrow {
                transform: rotateX(180deg);
            }
        }
    }
}
