@use "../base/_base-h" as *;
@use "../utils/_utils" as *;

#main-navbar {
    background-color: $color-a;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        display: flex;
        gap: 1rem;
        margin-right: 1rem;

        a {
            padding: 0.75rem 2.5rem;
            border-radius: 1.5rem;
            text-decoration: none;
            color: $color-p;
            font-size: 1.25rem;
            transition: 150ms;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;

            &:hover {
                color: $color-white;
                background-color: $color-p;
            }
        }
    }

    img {
        max-width: 100%;
        margin-top: 0.25rem;

        @include min-query(20rem) {
            height: 4rem;
        }
    }
}
