<footer id="main-footer">
    <div class="copyright">
        <p class="current-year">&copy; %year% Alexander Agruso</p>
        <p>All Rights Reserved</p>
    </div>
    <p class="smile">:)</p>
    <div class="contact">
        <p>(518) 338-5876</p>
        <p>agrusoalexander@gmail.com</p>
        <div class="icons">
            <a target="_blank" href="https://github.com/alexagruso/">
                <img class="github" src="github.png" alt="github link" />
            </a>
            <a
                target="_blank"
                href="https://www.linkedin.com/in/alexander-agruso-499a54257">
                <img class="linkedin" src="linkedin.webp" alt="linkedin link" />
            </a>
            <a
                target="_blank"
                href="https://www.upwork.com/freelancers/~016517f66e7d03d606">
                <img class="upwork" src="upwork.png" alt="upwork link" />
            </a>
        </div>
    </div>
</footer>
