<nav id="main-navbar">
    <% for (let link of ["About Me", "Portfolio", "Contact"]) { %>
    <section>
        <a class="dropdown">
            <span><%= link %></span>
            <% if (link === "About Me") { %>
            <div class="arrow">
                <div></div>
                <div></div>
            </div>
            <% } %>
        </a>
    </section>
    <% } %>
</nav>
