<nav id="main-navbar">
    <section>
        <a class="dropdown">
            <span>About Me</span>
            <div class="arrow">
                <div></div>
                <div></div>
            </div>
        </a>
        <div class="menu">
            <a href="">Link</a>
            <a href="">Link</a>
            <a href="">Link</a>
            <a href="">Link</a>
        </div>
    </section>
    <a class="dropdown">
        <span>Portfolio</span>
        <div class="arrow">
            <div></div>
            <div></div>
        </div>
    </a>
    <a class="dropdown">
        <span>Contact</span>
        <div class="arrow">
            <div></div>
            <div></div>
        </div>
    </a>
</nav>
