<nav id="main-navbar">
    <section>
        <a href="/" class="dropdown">
            <span>Home</span>
        </a>
    </section>
    <section>
        <a href="/about" class="dropdown">
            <span>About Me</span>
        </a>
    </section>
    <section>
        <a href="/portfolio" class="dropdown">
            <span>Portfolio</span>
        </a>
    </section>
    <section>
        <a href="/contact" class="dropdown">
            <span>Contact</span>
        </a>
    </section>
</nav>
