<header id="main-navbar">
    <section class="logo">LOGOOO</section>
    <section class="dropdown">
        <a class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </a>
    </section>
    <nav class="menu">
        <a href="">Link</a>
        <a href="">Link</a>
        <a href="">Link</a>
        <a href="">Link</a>
    </nav>
</header>
