@use "../utils/_utils" as *;

#main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-a;
    margin-top: auto;

    @include max-query(40rem) {
        flex-direction: column;
    }

    padding: 1.5rem;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: $color-a;
    background-color: $color-p-dark;
    letter-spacing: 0.05rem;

    .smile {
        font-size: 1rem;
        font-family: "Roboto Mono", sans-serif;

        &:hover {
            cursor: pointer;
        }

        &::selection {
            text-decoration: none;
        }

        @include max-query(40rem) {
            display: none;
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;

        @include max-query(40rem) {
            margin-top: 0.75rem;
        }
    }

    .icons {
        display: flex;
        gap: 0.75rem;

        img {
            width: 2rem;
            height: 2rem;
        }

        .upwork,
        .linkedin {
            filter: invert(100%);
        }
    }
}
