@use "../base/_base-h" as *;
@use "../utils/_utils" as *;
@use "../animations/_animations" as *;

#main-navbar {
    display: flex;
    justify-content: right;
    background-color: $color-p-dark;
    width: 100%;
    top: unset;
    bottom: 0;
    transition: all 200ms;
    position: sticky;

    opacity: 0;
    animation: reveal 1s linear 1.75s forwards;

    .dropdown {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1.5rem;
        transition: 250ms;

        &:hover {
            cursor: pointer;
            background-color: $color-a;

            span {
                color: $color-p-dark;
            }

            .arrow {
                border-top-color: $color-p-dark;
            }
        }

        span {
            color: $color-a;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
            font-size: 1.5rem;
            transition: 250ms;
        }

        .arrow {
            width: 1rem;
            border: 0.5rem solid transparent;
            border-bottom-width: 0;
            border-top-color: $color-a;
            transition: 250ms;
        }

        &.active {
            .arrow {
                transform: rotateX(180deg);
            }
        }
    }

    &.top {
        top: 0;
        bottom: unset;

        background-color: $color-a;

        .dropdown {
            span {
                color: $color-p-dark;
            }

            &:hover {
                background-color: $color-p-dark;
                span {
                    color: $color-a;
                }
            }
        }
    }
}
