@use "../utils/_utils" as *;

.body-text p {
    color: $color-white;
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    line-height: 2rem;
    text-align: center;
    max-width: clamp(40vw, 50rem, 90vw);
    margin: 10vh auto 0;

    a {
        color: $color-a;
        text-decoration: underline;
        transition: all 150ms;

        &:hover {
            text-shadow: 0 0.25rem 0.5rem $color-a;
            cursor: pointer;
        }
    }
}
