@use "../utils/_utils" as *;

.title {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include max-query(40rem) {
        gap: 1rem;
    }

    h1 {
        margin: 0 5vw;
        font-size: clamp(2rem, 8vw, 6rem);
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        letter-spacing: 0.25rem;
        color: $color-a;

        opacity: 0;
        animation: pageTitle 1s ease-out 0.25ms forwards;
    }

    span {
        margin: 0 5vw;
        font-size: clamp(0.75rem, 4vw, 2rem);
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
        letter-spacing: 0.125rem;
        color: $color-a;

        opacity: 0;
        animation: pageTitle 0.75s ease-out 0.75s forwards,
            italicize 0.25s ease-in 1.25s forwards;
    }
}

@keyframes pageTitle {
    100% {
        opacity: 1;
    }
}

@keyframes italicize {
    100% {
        transform: skewX(-10deg);
    }
}
